* {
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}

body {
    background-color: rgb(0, 0, 0);
}

header {
    text-align: center;
    background-image: url('Screenshot\ 2023-10-05\ 105842.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 255px 0px;
    border-bottom: solid 2px yellow;
    border-radius: 0 0 5px 5px;
}

header h1 {
    margin-top: 20px;
    font-size: 36px;
}

a {
    text-decoration: none;
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    border: 5px solid #000000;
}

main {
    display: flex;
    justify-content: space-between;
}

section {
    max-width: 600px;
    /* min-width: 600px; */ 
    margin: 20px auto;
    padding: 20px;
    border: solid white 2px;
    border-left: double white 10px;
    border-radius: 25px 100px 100px 25px;
    box-shadow: 5px 5px cyan;
}

footer p{
    color: coral;
    position: relative;
    bottom: 0;
}

html, body{
    height: 100%;
}

.nav-right {
    float: right;
    margin-right: auto;
    margin-right: 25px;
}

.nav-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    margin-left: 5px;
    border-radius: 20px;
}

a:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: none;
}

.menu-icon {
    color: white;
    float: left;
    display: none;
    width: auto;
}

nav {
    height: 65px;
    width: 100%;
    background-color: rgba(35, 50, 50, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
    max-width: auto;
    border-bottom: solid 2px yellow;
    border-radius: 0 0 50px 50px;
}

#project {
    margin-top: 100px;
}

#project1,
#project2,
#project3 {
    min-width: 0;
    max-width: 350px;
    padding: 5px;
}

#project a {
    border-radius: 10px 50px 50px 10px;

}

#school {
    margin-top: 100px;
}

.link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px 0;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.cv-aside {
    padding: 35px;
    border: solid white 2px;
    max-width: 100px;
    max-height: 250px;
    margin: 15px;
    border-radius: 5px 5px 70px 70px;
    border-bottom: double white 6px;
}

.aside-right {
    padding: 35px;
    border: solid white 2px;
    margin: 15px;
    border-radius: 5px 5px 70px 70px;
    border-bottom: double white 6px;
    height: 600px;
    width: 500px;
    animation: rgb-text 5s infinite ease-in-out;
}

@keyframes rgb-text {
    0% {
        text-shadow: 10px 10px red;
    }

    25% {
        text-shadow: -20px 10px green;
    }

    50% {
        text-shadow: -10px -10px blue;
    }

    75% {
        text-shadow: 20px -10px red;
    }

    100% {
        text-shadow: 10px 10px;
    }
}

.pp-aside {
    border-radius: 50%;
    margin-bottom: 20px;
}

li {
    list-style-type: none;
    color: white;
}

li a {
    padding: 10px 15px;
    margin: 10px 0px;
    background-color: blueviolet;
    color: white;
    display: flex;
    max-width: 75px;
}

li a:hover {
    background-color: white;
    color: black;
}

p,
h1,
h2,
h3 {
    color: #fff;
}

.logo {
    float: left;
    margin: 20px;
    background-color: black;
    border-radius: 100px;
    box-shadow: -2px -3px white;
    border: solid rgba(35, 50, 50) 3px;
    padding: 5px;
}

.kenjo {
    color: red;
}

.syonin {
    color: white;
}

.about-me {
    display: flex;
}

@media (max-width: 1000px) {
    .about-me {
        flex-direction: row-reverse;
    }

    section {
        max-width: 200px;
        min-width: 200px;
        font-size: 12px;
        margin-left: 0;
    }

    .cv-aside {
        max-width: 50px;
        max-height: 100px;
        align-items: center;
        margin-right: 0;
        margin-left: 8px;
        padding: 8px;
    }

    .aside-right {
        display: none;
    }

    .cv-aside h2 {
        font-size: 12px;
    }

    .pp-aside {
        max-width: 50px;
        max-height: 50px;
        margin-bottom: 5px;
    }

    .kenjo,
    .syonin {
        font-size: 10px;
    }

    .nav-right a {
        padding: 0 10px;
        font-size: 8px;
    }

    .logo {
        margin-right: 0;
    }
}
